<div class="p-4">
    <h4 class="fst-italic">Catégories</h4>
    <ol class="list-unstyled mb-0">
        <li>
            <a class="text-decoration-none" href="#">Tuto symfony</a>
        </li>
        <li>
            <a class="text-decoration-none" href="#">Tuto JS</a>
        </li>
    </ol>
</div>